* {
    font-family: 'century gothic';
    margin: 0 !important;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.flx {
    display: flex;
    align-items: center;
    text-align: center;
}

footer {
    background: #941c23;
    color: white;
    width: 100%;
    padding: 5px !important;
}

header {
    background: #941c23;
    color: white;
    padding: 10px !important;
}

.btn-primary {
    background: #a60303 !important;
    border-color: #a60303 !important;
}

.btn-primary:hover {
    background: #d20303 !important;
    border-color: #d20303 !important;
}

.btn-primary.focus,
.btn-primary:focus {
    color: #fff;
    box-shadow: 0 0 0 0.2rem #ff040480 !important;
}

table {

    width: 80%;
}

table, tr, th {
    border: 1px solid #9999 !important;
    /* border: 1px solid; */
}

.center {
    text-align: center;
}

.message {
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.msg_success {
    background: #2c9945;
}

.error_class {
    color: red;
}

.msg_error{
    background: #c44f4f !important;
}

.message_error {
    padding: 10px;
    background: #fbfb9d;
    border-radius: 10px;
}

.bold {
    font-weight: bold;
}

.red-c {
    color: #a60303 !important;
}

hr {
    width: 80%;
    border: 1px solid #9999;
}

.w-80 { width: 90% !important; }

.btn-table {
    border-radius: 50px !important;
    width: 55px !important;
}

.table td, .table th {
    vertical-align: inherit !important;
    padding: 5px !important;
}

.float-right {
    float: rigth;
}

.col-form-label {
    text-align: right !important;
}

input[type="checkbox"], input[type="radio"] {
    width: 15px !important;
    cursor: pointer;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
    box-shadow: none !important;
}
.m-0x { margin: 0px !important; }

.pointer {
    cursor: pointer;
}

.form-group {
    margin: .5rem !important;
}

.left {
    text-align: left !important;
}
